<div class="container container-new">
  <%= @training.name %>
  <%= @training.description %>

  <button type="button" class="btn btn-warning">
    <%= link_to "remove", training_path(@training), method: :delete, data: { confirm: "Are you sure?" } %>
  </button>

</div>
