<div class="container container-new">
  <h1>Trainings#show</h1>
  <%= @training.name %>
  <%= @training.description %>
  <%= cl_image_tag @training.photos.first.key, height: 300, width: 400, crop: :fill %>

  <button type="button" class="btn btn-warning">
    <%= link_to "remove", training_path(@training), method: :delete, data: { confirm: "Are you sure?" } %>
  </button>

</div>

