<div class="col-12">
<div class="d-flex justify-content-between booking-show-banner">
  <div>
    <% if @booking.training_session.time > Time.now %>
      <h1>You're booked!</h1>
    <% elsif @booking.training_session.time < Time.now %>
     <h1>You attended <%=@booking.training_session.training.name %></h1>
     <%end%>
    </div>
    <div>
        <% if @booking.training_session.time > Time.now %>
      <div> <%= link_to 'Cancel', @booking, method: :delete, class: "btn btn-warning" %></div>
        <br>
      <% if current_user.orders.where(training_session: @booking.training_session).any? %>
        <div> <%=  link_to 'View Order', order_path(current_user.orders.where(training_session: @booking.training_session).first), method: :get, class: "btn btn-warning"  %></div>
        <% end %>
    <% elsif @booking.training_session.time < Time.now %>
     <%= render "reviews/form", booking: @booking %>
     <%end%>
    </div>
  </div>
  </div>





