
<div class="d-flex justify-content-between">
  <div>
    <h1>You're booked!</h1>
    </div>
    <div>
  <%= render "reviews/form", booking: @booking %>
      <div > <%= link_to 'Cancel', @booking, method: :delete, class: "btn btn-warning" %></div>
    </div>
</div>
