<div class="card-product" style="background-size: cover; background-repeat: no-repeat; background-position: center center; background-image: url(<%= cl_image_path training.photos.first.key, height: 600, width: 800, crop: :fill %>)">
  <div class="card-product-infos">
    <h2 id="name"> <%= training.name %> </h2>
  </div>
</div>
