<div class="container" style="margin-bottom: 40px;">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-sm-offset-4">

      <h2>Your bookings</h2>
      <div class="cards-grid">

        <% @bookings.each do |booking| %>

          <%=render "components/booking-card", booking: booking %>

        <%end%>
      </div>
    </div>
  </div>
</div>
