<div class="footer">

  <div class="links">
    <div class="link-list">
      <ul>
        <li><h5>About</h5></li>
        <li>How Scout Works</li>
        <li>Careers</li>
        <li>How Scout Works</li>
      </ul>
    </div>
    <div class="link-list">
      <ul>
        <li><h5>About</h5></li>
        <li>How Scout Works</li>
        <li>Careers</li>
        <li>How Scout Works</li>
      </ul>
    </div>
    <div class="link-list">
      <ul>
        <li><h5>About</h5></li>
        <li>How Scout Works</li>
        <li>Careers</li>
        <li>How Scout Works</li>
      </ul>
    </div>
    <div class="link-list">
      <ul>
        <li><h5>About</h5></li>
        <li>How Scout Works</li>
        <li>Careers</li>
        <li>How Scout Works</li>
      </ul>
    </div>
  </div>
  <div class="infos">
    <div class="icons">
    <i class="fab fa-facebook"></i><i class="fab fa-instagram"></i><i class="fab fa-twitter-square">   </i>
  </div>
  <div>
    <img src="https://i.ibb.co/M8rpDV0/scout-blue.png" alt="scout-blue" border="0">
  </div>
    <p class="footer_info">
      Copyright 2020.
    </p>
  </div>
</div>
