<div class="footer">

  <div class="links">
    <div class="link-list">
      <ul>
        <li><h5>About</h5></li>
        <li><a href="#">How Scout Works</a></li>
        <li><a href="#">Careers</a></li>
        <li><a href="#">News</a></li>
      </ul>
    </div>
    <div class="link-list">
      <ul>
        <li><h5>Community</h5></li>
        <li><a href="#">Accessibility</a></li>
        <li><a href="#">Gift Cards</a></li>
        <li><a href="#">Invite A Friend</a></li>
      </ul>
    </div>
    <div class="link-list">
      <ul>
        <li><h5>Trainers</h5></li>
        <li><a href="#">Join Our Trainers</a></li>
        <li><a href="#">Resources</a></li>
        <li><a href="#">Blog</a></li>
      </ul>
    </div>
    <div class="link-list">
      <ul>
        <li><h5>Support</h5></li>
        <li><a href="#">COVID-19</a></li>
        <li><a href="#">FAQ</a></li>
        <li><a href="#">Cancellations</a></li>
        <li><a href="#">Contact us</a></li>
      </ul>
    </div>
  </div>
  <div class="infos">
    <div class="icons">
      <i class="fab fa-facebook"></i><i class="fab fa-instagram"></i><i class="fab fa-twitter-square">   </i>
    </div>
    <div>
      <img src="https://i.ibb.co/M8rpDV0/scout-blue.png" alt="scout-blue" border="0">
    </div>
    <p class="footer_info">
      Copyright 2020.
    </p>
  </div>
</div>

