 <header>
        <div class="header__bg">
        </div>
        <div class="header__bg__2">
        </div>
        <div class="header-content">
          <i class="fas fa-bars"></i>
        </div>
        <div class="header-content-home">
          <%= link_to root_path do %>
          <i class="fas fa-circle"></i>
           <%end%>
        </div>
</header>



