

<div class="home-title">


<!-- https://i.ibb.co/M8rpDV0/scout-blue.png -->
<!-- https://i.ibb.co/KsMkNQc/scout-logo.png -->
<!-- https://i.ibb.co/zGQZtjw/scout-darker-blue.png
 -->

<img src="https://i.ibb.co/M8rpDV0/scout-blue.png" alt="scout-blue" border="0">
</div>
<div class="home-cards">



<div class="card" style="background-image: linear-gradient(rgba(0, 0, 0, .0),rgba(0, 0, 0,.5)), url(https://images.unsplash.com/photo-1564282350350-a8355817fd2e?ixlib=rb-1.2.1&auto=format&fit=crop&w=934&q=80)">

  <div class="card-img">
</div>

  <div class="card-info">
    <h1>Browse Classes</h1>
  </div>

</div>

<%= link_to trainers_path do %>
<div class="card" style="background-image: linear-gradient(rgba(0, 0, 0, .0),rgba(0, 0, 0,.5)), url(https://images.unsplash.com/photo-1573124356790-446c0081d9ff?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80)">

<div class="card-img">
</div>

  <div class="card-info">
    <h1>Find Your Trainer</h1>
  </div>

</div>

<%end%>


<div class="card" style="background-image: linear-gradient(rgba(0, 0, 0, .0),rgba(0, 0, 0,.5)), url(https://images.unsplash.com/photo-1589009602600-678c2c90cf0c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80)">

<div class="card-img">

</div>

  <div class="card-info">
    <h1>Manage My Bookings</h1>
  </div>

</div>

</div>
