<div class="container">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-sm-offset-4">

      <div class="form-training">
        <h1>Edit your session</h1>
      <%= render 'formedit', training_session: @trainingsession %>

    </div>
  </div>
  <div class="d-none d-md-block col-sm-4 col-md-6 col-lg-6">
      <div class="image-wrapper">
        <h2>
          Let's get sweaty!
        </h2>
        <%= image_tag "sportman.jpeg", class: "image-card" %>
      </div>
    </div>
</div>
</div>
