<div class="container container-new">
  <div class="row">
    <div class="col-6">
      <h1>TrainingSessions#edit</h1>
      <p>Find me in app/views/training_sessions/edit.html.erb</p>


      <%= render 'formedit', training_session: @trainingsession %>

    </div>
  </div>
</div>




