<h1>TrainingSessions#new</h1>
<p>Find me in app/views/training_sessions/new.html.erb</p>
<div class="container container-new">
  <div class="row">
    <div class="col-6">
      <h1>create new session</h1>
      
      <%= render 'formnew', training_session: @trainingsession %>

    </div>
  </div>
</div>
