.card-product {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  filter: drop-shadow(0px 0px 0px rgba(1,1,1,0.1));
  transition: filter 300ms ease, transform 300ms ease;
  transform: scale(1);
}

.card-product .badge.badge-primary {
  text-shadow: none;
}

.card-product .card-product-infos h2 {
    text-transform: capitalize;
    color: white;
    font-size: 30px;
    text-shadow: 0px 0px 5px rgba(1,1,1,0.5);
    text-align: center;
    width: 100%;
    display: block;
    word-spacing: 10px;
}

.card-product-link:hover {
  text-decoration: none;
}

.card-product-link:hover .card-product {
  filter: drop-shadow(0px 0px 15px rgba(1,1,1,0.2));
  transform: scale(1.01);
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

#card-product {
  border-radius: 10px;
}

.card-product .card-product-infos {
  padding: 16px;
  width: 100%;
}

.cards-grid {
  // margin-top: 130px;
  grid-template-columns: 1fr;
  display: grid;
  min-height: 100vh;
  grid-auto-flow: dense;
  grid-auto-rows: 150px;
  grid-gap: 15px;
  top: 0;
  &.booking {
    grid-template-columns: 1fr;
  }
}

.booking-info {
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 0px;
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  word-spacing: 5px;
  text-shadow: 0px 0px 5px rgba(1, 1, 1, 0.5);
  text-transform: capitalize;
}

.training-time {
  position: absolute;
  top: 5px;
  left: 5px;
  text-shadow: 0px 0px 5px rgba(1, 1, 1, 1);
}

.training-location {
  position: absolute;
  bottom: 60px;
  left: 5px;
  text-shadow: 0px 0px 5px rgba(1, 1, 1, 1);
}

.booking-title {
  color: white;
}



















