.schedule-btn {
  padding-top: 0;
  border: none;
  background-color: rgba(2, 62, 138, 1);
  color: white;
  width: 90%;
  margin-left: 10px;
  margin-left: 10px;
  height: auto;
  opacity: .6;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  text-transform: capitalize;
  border-radius: 2px;
}

/* On mouse-over */
.schedule-btn:hover {
  opacity: 1;
}


.scout-btn{
  height: 60px;
  background: transparent;
  //border: solid 1px rgba(2, 62, 138, .4);
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  //background-image: linear-gradient(rgba(255,255,255,.4), rgba(50,50,50,.1))
}


.scout-button{
    height: 50%;
    padding-left: 10px;
    padding-right: 10px;
    color: black;
    background-color: white;
    color: #3367cb;
    padding: 10px 15px;
    transition: background-color 200ms ease, color 200ms ease, border 200ms ease;
    border: 2px solid #3367cb;
    &:hover {
      background-color: #3367cb;
      color: white;
      border: 2px solid white;
    }
}
