.schedule-btn {
  padding-top: 0;
  border: none;
  background-color: rgba(2, 62, 138, 1);
  color: white;
  width: 90%;
  margin-left: 10px;
  margin-left: 10px;
  height: auto;
  opacity: .6;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  text-transform: capitalize;
  border-radius: 2px;
}

/* On mouse-over */
.schedule-btn:hover {
  opacity: 1;
}


.scout-btn{
  height: 60px;
  background: transparent;
  //border: solid 1px rgba(2, 62, 138, .4);
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  //background-image: linear-gradient(rgba(255,255,255,.4), rgba(50,50,50,.1))
}
