.schedule-row{
width: 98%;
display: grid;
grid-template-columns: 4fr 7fr;
grid-template-rows: 1fr;
margin-bottom: 2px;
border-radius: 2px;
overflow: hidden;
height: 3rem;

  a:hover{
    text-decoration: none;
    color: gray;
  }
}

.class-name{
  text-transform: capitalize;
  color: white;
  display: flex;
  align-items: center;
  background-color: initial;
  padding-left: 10px;
}

.class-infos{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: initial;

  .time{
    padding-left: 10px;
  }

  .location{}

  .book a {
    height: 50%;
    padding-left: 10px;
    padding-right: 10px;
    color: black;
    background-color: white;
    color: #3367cb;
    padding: 10px 15px;
    transition: background-color 200ms ease, color 200ms ease, border 200ms ease;
    border: 2px solid #3367cb;
    &:hover {
      background-color: #3367cb;
      color: white;
      border: 2px solid white;
    }
  }
}
