.search-card{
  width: 60vw;
  max-width: 500px;
  min-width: 400px;
  height: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 60% 30% 10%;
  grid-template-areas: "image" "text" "stats";
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 5px 5px 10px rgba(0,0,0,.4);
  //border: solid 5px white;
  margin-bottom: 20px;

}

.search-card-image{
  grid-area: "image";
  width: inherit;
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  object-position: center top;
  img{
    width: 100%;
    max-height: 400px;
    object-fit: cover;

  }
}

.search-card-infos{
  grid-area: "text";
  background-color: rgba(202, 240, 248, 1);
  padding: 5px;
  color: rgba(0, 0, 0, .8);
  text-align: left;
  border-bottom: 1px solid rgba(22, 25, 37, .5);
}

.search-card-infos-titles{

  row{
    display: inline-flex;
  }

  h4{font-size: 18px;
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: underline;
    padding: none;
  }

}

.search-card-infos-long{
  padding-right: 10px;
  padding-left: 15px;
  width: 90%

}

.search-card-stats{
    padding-left: 20px;
    box-shadow: 5px 5px 10px rgba(0,0,0,.4);
    grid-area: "stats";
    display: flex;
    background-color: rgba(202, 240, 248, 1);
    justify-content: space-between;
    align-items: center;
    padding-right: 40px;
}
