.profile-img{
  border-radius: 15px;
  overflow: hidden;
  margin-bottom: 10px;
  img{
    border-radius: 15px;
  }
}


.data-card {
  border: none;
  padding: 20px 40px;
  border-radius: 2px;
  margin: 5px;
  min-height: 200px;
  height: 96%;
  box-sizing: border-box;
}

.data-card.white {
  background-color: white;
  color: black;
}

.data-card.blue {
  background-color: #3366CC;
  color: white;
}

