// .card-training {
//   overflow: hidden;
//   background: white;
//   box-shadow: 0 0 15px rgba(0,0,0,0.2);
//   margin: 70px 0px;
// }

// .card-training > img {
//   height: 280px;
//   width: 100%;
//   object-fit: cover;
// }

// .card-training h2 {
//   font-size: 28px;
//   font-weight: bold;
//   margin: 0;
// }

// .card-training p {
//   font-size: 18px;
//   opacity: .7;
//   margin: 0;
// }

// .card-training .card-training-infos {
//   padding: 16px;
//   display: flex;
//   justify-content: space-between;
//   align-items: flex-end;
//   position: relative;
// }

// .card-training-infos .card-training-user {
//   position: absolute;
//   right: 16px;
//   top: -20px;
//   width: 40px;
// }


.training-pic{
  max-height: 500px;
  h1{
   color: white;
  text-shadow: 2px 2px #ff0000;
  }
}

.training-trainer-avatar{

  img{
    border-radius: 50%;
    width: 80px;
    height: 80px;
    object-fit: cover;
    object-position: center top;
    box-shadow: 1px 1px 13px #888888;
  }

  p{
    color: white;
    text-shadow: 2px 2px black;
  }

  a:hover{
    text-decoration: none;
  }
}


.training-slideshow{
  max-height: 400px;
  width: 100%;

  .carousel-item {
  height: 300px;
  width: 100%;
}

.carousel-item img {
  height: 100%;
  border-radius: 5px;

}

}
