<div class="search-card">
  <div class="search-card-image">
    <img src="https://images.unsplash.com/photo-1597347366210-e874cb3be303?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2550&q=80" alt="">
  </div>
  <div class="search-card-infos">
    <div class="search-card-infos-titles">
      <row><h4>Jan</h4><h5> &ensp; 31, Male</h5></row>
      <row><i class="fas fa-map-marker"></i><h6>&ensp;Trains at Oosterpark, Westerpark, Vondelpark</h6></row>
    </div>
    <div class="search-card-infos-long">
      <p>I have been training for 15 years in the center of Amsterdam! I specialize in strength training, and I offer group classes, one on one, and have a flexible schedule.</p>
    </div>
  </div>
  <div class="search-card-stats">
      <div class="sessions">1234 Sessions held</div>
      <div class="stars"> 4.5/5 stars</div>
  </div>
</div>

